{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://dl.dropboxusercontent.com/s/o093y16u4d3kojv/code.png?dl=0"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://dl.dropboxusercontent.com/s/ecyb1drs5j1jyjf/styles.css?dl=0"
    />
    {% block cssfiles %}{% endblock cssfiles %}
    <title>ByteWalk</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <a class="navbar-brand ml-4 mr-4" href="#"><b>ByteWalk</b></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
          <a class="nav-item nav-link" href="{% url 'users_list' %}"
            >Add New Friends</a
          >
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" href="{% url 'friend_list' %}"
            >Friends</a
          >
          <a class="nav-item nav-link" href="{% url 'my_profile' %}">Profile</a>
          <a class="nav-item nav-link" href="{% url 'post-create' %}"
            >Create Post</a
          >
          <a
            class="nav-item nav-link btn btn-danger ml-4 text-light"
            href="{% url 'logout' %}"
            >Logout</a
          >
          {% else %}
          <a
            class="nav-item nav-link btn btn-success ml-4 text-light"
            href="{% url 'login' %}"
            >Login</a
          >
          <a
            class="nav-item nav-link btn btn-info ml-3 text-light"
            href="{% url 'register' %} "
            >Register</a
          >
          {% endif %} {% block searchform %}{% endblock searchform %}
        </div>
      </div>
    </nav>
    <div class="container">{% block content %}{% endblock content %}</div>

    <footer class="page-footer font-small black">
      <div class="footer-copyright text-center py-3">
        ByteWalk © 2020 <br /><small class="text-muted"
          >All rights reserved!</small
        >
      </div>
    </footer>

    <!-- JS Files -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% block jsfiles %}{% endblock jsfiles %}
  </body>
</html>
